main {
    position: absolute;
    top: 12mm;
    width: 80%;
    padding: 0 3%;
}
main h1 {
    text-align: center;
}
main img {
    width: 50%;
    margin-left: 25%;
    border-radius: 3px;
    box-shadow: 0px 0px 10px;
}
aside.right {
    position: absolute;
    right: 0%;
    top: 12mm;
    height: 100%;
    width: 14%;
    border-left: 3px solid;
    background-color: lightgray;
}