{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/article_list.css' %}">
{% endblock %}

{% block main %}
<main>
    <ul>
        {% for article in article_list %}
        <a href="{% url 'article_form' article.pk %}">
            <li>
                <h2>{{ article.title }}</h2>
                <img src="{{ article.image.url }}"/>
            </li>
        </a>
        {% endfor %}
    </ul>
</main>
{% endblock %}
